{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% endblock %}

{% block content %}

  <div class="row conv_main">
    <div class="col-12" id="conv_err"></div>
    <div class="col-12">
      <form class="form-inline">
          <div class="col-3">
              <input type="number" min="0.01" value="1" step="0.01" id="to_conv">
          </div>
          <div class="col-2">
            <div class="form-group">
              {% trans 'from' %}
              <select name="valuta-1" id="valuta-1">
                {% for val in valuta %}
                    <option selected value={{ val }}>{{ val }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              {% trans 'to' %}
              <select name="valuta-1" id="valuta-2">
                {% for val in valuta %}
                    <option selected value={{ val }}>{{ val }}</option>
                {% endfor %}
              </select>
          </div>
        </div>
        <div  class="col-1">
            <a href="#" id="convert" class="btn btn-primary">{% trans 'Convert' %}</a>
        </div>
      </form>
    </div>

  </div>

    <div class="row conv_main">
        <div class="col-12 conv_result" id="conv_res">
            1.00
        </div>
    </div>

{% endblock %}
