{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="text-center col-12">
        <h1>{% trans 'Page not found' %}</h1>
    </div>
  </div>
{% endblock %}
